{
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "plugins": [
    "vue"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        map: [
          ["Components", "./src/js/components"]
        ],
        extensions: ['.vue', '.js', '.jsx', '.json']
      }
    }
  },
  "rules": {
    "no-new": "off",
    "no-console": 1,
    "no-control-regex": "off",
    "max-len": ["error", {
      "code": 90,
      "ignoreComments": true,
      "ignoreTrailingComments": true,
      "ignoreUrls": true
    }],
    "no-irregular-whitespace": [
      "error",
      {
        "skipTemplates": true,
        "skipStrings": true
      }
    ],
    "import/no-named-as-default": "off",
    "no-trailing-spaces": "error",
    "vue/singleline-html-element-content-newline": "off",
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 3,
        "multiline": {
          "max": 1
        }
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}