{
  "parser": "vue-eslint-parser",
  "extends": ["airbnb-base"],
  "plugins": ["vue"],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["TodoDir", "./src/js/todo"],
          ["TodoRouterDir", "./src/js/todoRouter"],
          ["TodoVuexDir", "./src/js/todoVuex"],
          ["VuexSample", "./src/js/todoVuex_sample"]
        ],
        "extensions": [".js", ".json"]
      }
    }
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "no-new": "off",
    "no-console": 1,
    "no-control-regex": "off",
    "max-len": ["error", {
      "code": 90,
      "ignoreComments": true,
      "ignoreTrailingComments": true,
      "ignoreUrls": true
    }],
    "no-irregular-whitespace": [
      "error",
      {
        "skipTemplates": true,
        "skipStrings": true
      }
    ],
    "import/no-named-as-default": "off",
    "no-param-reassign": ["error", {
      "props": true,
      "ignorePropertyModificationsFor": ["state"]
    }],
    "vue/singleline-html-element-content-newline": "off",
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 3,
        "multiline": {
          "max": 1
        }
      }
    ],
    "vue/custom-event-name-casing": ["error", "kebab-case"]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}