{
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "extends": [
    "plugin:vue/recommended"
  ],
  "plugins": [
    "vue"
  ],
  "rules": {
    "no-console": 1,
    "no-control-regex": "off",
    "max-len": ["error", {
      "code": 90,
      "ignoreComments": true,
      "ignoreTrailingComments": true,
      "ignoreUrls": true
    }],
    "no-irregular-whitespace": [
      "error",
      {
        "skipTemplates": true,
        "skipStrings": true
      }
    ],
    "import/no-named-as-default": "off",
    "no-trailing-spaces": "error",
    "vue/singleline-html-element-content-newline": [
      "error",
      {
        "ignoreWhenNoAttributes": true,
        "ignoreWhenEmpty": true
      }
    ],
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 3,
        "multiline": {
          "max": 1
        }
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}